# Dependencies
node_modules/
/lib/
bun.lockb
package-lock.json
yarn.lock

# Foundry
out/
cache/
broadcast/

# Environment Variables
.env
.env.local
.env.staging
.env.production
.env.*

# CRE
.cre/
.cre-cli
.cre-cli-cache
*.log

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
